@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a:link{
    color: rgb(158, 158, 158);
}
a:visited{
    color: rgb(158, 158, 158);
}
a:active{
    color: rgb(158, 158, 158);
}

/* fçaa as sombraas tbm */

.container-grid-principal{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-column: auto;
    grid-template-areas: "header" "main" "mainboxes";
}

.container-griditem-header{
    grid-area: header;
    background-color: whitesmoke;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-logo{
    border-style: solid;
    border-width: 0.3px;
    border-color: rgb(116, 116, 116);
    border-radius: 100%;
    min-height: 10vh;
    min-width: 10vh;
    background-color: rgb(153, 148, 148);

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu{
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;
    min-width: 20%;
    width: auto;
}
.header-menu a{
    background-color: rgba(175, 175, 175, 0.281);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    margin: 0px 10px;
}





.container-griditem-main{
    grid-area: main;
    min-height: 60vh;
    background-color: rgb(218, 218, 218);
}

.main-container-paragrf{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-paragrf-principal{
    color: rgb(119, 119, 119);
    padding: 5px;
    font-size: x-large;
    margin: 2% 10%;
    text-align: center;
    border-radius: 10px;
}

.main-container-paragrf p{
    background-color: rgba(153, 148, 148, 0.281);
    color: rgb(119, 119, 119);
    padding: 5px;
    margin: 0.3%;
    text-align: center;
}




.container-griditem-mainboxes{
    grid-area: mainboxes;
    background-color: rgb(230, 230, 230);
    min-height: 30vh;

}

.container-mainboxes-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mainboxes-container-content{
    max-width: 300px;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

.mainboxes-container-content a{
    font-size: 1.5rem;
    color: rgb(124, 124, 124);
}

.mainboxes-container-content p{
    font-size: 1rem;
    color: rgb(158, 158, 158);
}

.mainboxes-content{
    min-height: 25vh;
    background-color: rgba(145, 145, 145, 0.281);
    border-radius: 10px;
}

.mainboxes-content img{
    max-width: 100%;
}

@media (max-width: 860px){
    .main-paragrf-principal{
        padding: 5px;
        font-size: x-large;
        margin: 5% 10%;
    }

    .main-container-paragrf p{
        padding: 5px;
        margin: 1%;
        text-align: center;
    }
}
